body{
  background: white;
  text-align: center;
}
.group-class{
  float: none;
  margin: 0 auto;
}
.jar-text{
  width: 33% !important;
  margin: 0 auto;
}
.jar-btn{
  width:11% !important;
  margin: 0 auto;
}
.motivation{
  margin: 20px;
}
.jar{
  margin: 10% auto;
  background: -webkit-linear-gradient(left top, crimson 0%, #f90 100%);
  width: 400px;
  height: 400px;
  border-radius: 50%;
  padding: 8px;
  /*transition: all 2s linear;*/
  transition: opacity 3s ease;
}
.content{
  background: white;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  transition: all 2s linear;
}
.transition{
  animation: ripple 1s ease-out;
  animation-fill-mode:forwards;

}

@keyframes ripple{
  0% {
    width: 400px;
    height: 400px;
  }
  25% {
    width: 300px;
    height: 300px;
  }
  50%{
  width: 200px;
  height: 200px;
  }
  90%{

  width: 100px;
  height: 100px;
  }
  100%{
   width: 0px;
   height: 0px;
   opacity: 0;
  }
}
.add{
  margin-top: 51px;
  opacity:1;
  transition: opacity .5s ease;
}
.add-form{
  border-radius: 0;
}
.add-transition{
  opacity: 0;
}
textarea{
  resize: none;
  width: 50%;
  height: 20vh;
  font-size: 2.5vw;
  font-weight: 100;
  font-family:'Arizonia', Helvetica, sans-serif;
  border-radius: 10px;

  border-color: crimson;
  border-width: 3px;
}
textarea:focus{
  outline: none;
}
.submit{
  border: none;
  padding: 11px 32px;
  margin-top: 10px;
  background-color: #38B5B9;  
  color: white;
  font-weight: lighter;
}